# ST0263 - Tópicos Especiales de Telemática

- Nombre: Andres Leonardo Rojas Peña

- Correo: alrojasp@eafit.edu.co

## Maestro

- Nombre: Edwin Nelson Montoya Munera

- Correo: emontoya@eafit.edu.co

# 1. Almacenar datos en AWS S3 y en google drive (ojo, en ambos)

In [1]:
#configuración en google colab de spark y pyspark
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
#instalar java y spark
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz
!tar xf spark-3.5.1-bin-hadoop3.tgz
!pip install -q findspark

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.1-bin-hadoop3"

In [9]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = spark.sparkContext

In [10]:
spark

In [11]:
sc

In [12]:
# Load csv Dataset
#df=spark.read.csv('s3://<bucket/dir>/sample_data.csv',inferSchema=True,header=True)
df=spark.read.csv('gdrive/MyDrive/Casos_positivos_de_COVID-19_en_Colombia..csv',inferSchema=True,header=True)

# 2. Análisis exploratorio de datos en dataframes donde cargamos los datos: (programa en jupyterhub y google colab)

2.1 columnas

In [13]:
#Columnas
df.columns

['fecha reporte web',
 'ID de caso',
 'Fecha de notificación',
 'Código DIVIPOLA departamento',
 'Nombre departamento',
 'Código DIVIPOLA municipio',
 'Nombre municipio',
 'Edad',
 'Unidad de medida de edad',
 'Sexo',
 'Tipo de contagio',
 'Ubicación del caso',
 'Estado',
 'Código ISO del país',
 'Nombre del país',
 'Recuperado',
 'Fecha de inicio de síntomas',
 'Fecha de muerte',
 'Fecha de diagnóstico',
 'Fecha de recuperación',
 'Tipo de recuperación',
 'Pertenencia étnica',
 'Nombre del grupo étnico']

2.2 tipos de datos

In [14]:
#Tipos de datos
df.printSchema()

root
 |-- fecha reporte web: timestamp (nullable = true)
 |-- ID de caso: integer (nullable = true)
 |-- Fecha de notificación: timestamp (nullable = true)
 |-- Código DIVIPOLA departamento: integer (nullable = true)
 |-- Nombre departamento: string (nullable = true)
 |-- Código DIVIPOLA municipio: integer (nullable = true)
 |-- Nombre municipio: string (nullable = true)
 |-- Edad: integer (nullable = true)
 |-- Unidad de medida de edad: integer (nullable = true)
 |-- Sexo: string (nullable = true)
 |-- Tipo de contagio: string (nullable = true)
 |-- Ubicación del caso: string (nullable = true)
 |-- Estado: string (nullable = true)
 |-- Código ISO del país: integer (nullable = true)
 |-- Nombre del país: string (nullable = true)
 |-- Recuperado: string (nullable = true)
 |-- Fecha de inicio de síntomas: timestamp (nullable = true)
 |-- Fecha de muerte: timestamp (nullable = true)
 |-- Fecha de diagnóstico: timestamp (nullable = true)
 |-- Fecha de recuperación: timestamp (nullable = true)
 |-- Tipo de recuperación: string (nullable = true)
 |-- Pertenencia étnica: integer (nullable = true)
 |-- Nombre del grupo étnico: string (nullable = true)

2.3 seleccionar algunas columnas

In [15]:
#Seleccionar algunas columnas
df.show(5)
df.select('Ubicación del caso','Tipo de recuperación').show(5)

+-------------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+---------+-------------------+---------------+----------+---------------------------+-------------------+--------------------+---------------------+--------------------+------------------+-----------------------+
|  fecha reporte web|ID de caso|Fecha de notificación|Código DIVIPOLA departamento|Nombre departamento|Código DIVIPOLA municipio|Nombre municipio|Edad|Unidad de medida de edad|Sexo|Tipo de contagio|Ubicación del caso|   Estado|Código ISO del país|Nombre del país|Recuperado|Fecha de inicio de síntomas|    Fecha de muerte|Fecha de diagnóstico|Fecha de recuperación|Tipo de recuperación|Pertenencia étnica|Nombre del grupo étnico|
+-------------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+---------+-------------------+---------------+----------+---------------------------+-------------------+--------------------+---------------------+--------------------+------------------+-----------------------+
|2020-12-24 00:00:00|   1556979|  2020-12-22 00:00:00|                          76|              VALLE|                    76001|            CALI|  67|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-21 00:00:00|               NULL| 2020-12-23 00:00:00|  2021-01-04 00:00:00|              Tiempo|                 6|                   NULL|
|2020-12-24 00:00:00|   1556980|  2020-12-19 00:00:00|                          76|              VALLE|                    76001|            CALI|  66|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-07 00:00:00|               NULL| 2020-12-23 00:00:00|  2020-12-25 00:00:00|              Tiempo|                 6|                   NULL|
|2020-12-24 00:00:00|   1556981|  2020-12-19 00:00:00|                          76|              VALLE|                    76001|            CALI|  68|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-18 00:00:00|               NULL| 2020-12-22 00:00:00|  2021-01-01 00:00:00|              Tiempo|                 6|                   NULL|
|2020-12-24 00:00:00|   1556982|  2020-12-22 00:00:00|                          76|              VALLE|                    76001|            CALI|  74|                       1|   F|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-12-17 00:00:00|2020-12-30 00:00:00| 2020-12-23 00:00:00|                 NULL|                NULL|                 6|                   NULL|
|2020-12-24 00:00:00|   1556983|  2020-12-22 00:00:00|                          76|              VALLE|                    76001|            CALI|  65|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-21 00:00:00|               NULL| 2020-12-23 00:00:00|  2021-01-04 00:00:00|              Tiempo|                 6|                   NULL|
+-------------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+---------+-------------------+---------------+----------+---------------------------+-------------------+--------------------+---------------------+--------------------+------------------+-----------------------+
only showing top 5 rows

+------------------+--------------------+
|Ubicación del caso|Tipo de recuperación|
+------------------+--------------------+
|              Casa|              Tiempo|
|              Casa|              Tiempo|
|              Casa|              Tiempo|
|         Fallecido|                NULL|
|              Casa|              Tiempo|
+------------------+--------------------+
only showing top 5 rows

2.4 RENOMBRAR COLUMNAS (esto se recomienda hacerlo para facilitar el procesamiento posterior)

In [16]:
#Renombrar columna
df=df.withColumnRenamed('Fecha de muerte','Dia de defunción')

2.5 agregar columnas

In [17]:
#Agregar columna
df = df.withColumn('Tiempo diagnostico',(df["Fecha de diagnóstico"] - df["Fecha de inicio de síntomas"]))

2.6 borrar columnas

In [18]:
#Borrar columna
df = df.drop("Tiempo diagnostico")

2.7 filtrar datos

In [19]:
#Filtrar datos
df.filter(df['Estado']=='Fallecido').show()

+-------------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+---------+-------------------+---------------+----------+---------------------------+-------------------+--------------------+---------------------+--------------------+------------------+-----------------------+
|  fecha reporte web|ID de caso|Fecha de notificación|Código DIVIPOLA departamento|Nombre departamento|Código DIVIPOLA municipio|Nombre municipio|Edad|Unidad de medida de edad|Sexo|Tipo de contagio|Ubicación del caso|   Estado|Código ISO del país|Nombre del país|Recuperado|Fecha de inicio de síntomas|   Dia de defunción|Fecha de diagnóstico|Fecha de recuperación|Tipo de recuperación|Pertenencia étnica|Nombre del grupo étnico|
+-------------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+---------+-------------------+---------------+----------+---------------------------+-------------------+--------------------+---------------------+--------------------+------------------+-----------------------+
|2020-12-24 00:00:00|   1556982|  2020-12-22 00:00:00|                          76|              VALLE|                    76001|            CALI|  74|                       1|   F|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-12-17 00:00:00|2020-12-30 00:00:00| 2020-12-23 00:00:00|                 NULL|                NULL|                 6|                   NULL|
|2020-12-24 00:00:00|   1556986|  2020-12-18 00:00:00|                          76|              VALLE|                    76001|            CALI|  66|                       1|   F|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-12-11 00:00:00|2020-12-26 00:00:00| 2020-12-22 00:00:00|                 NULL|                NULL|                 6|                   NULL|
|2020-11-08 00:00:00|   1137434|  2020-11-05 00:00:00|                          11|             BOGOTA|                    11001|          BOGOTA|  81|                       1|   F|     Relacionado|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-10-31 00:00:00|2020-11-11 00:00:00| 2020-11-07 00:00:00|                 NULL|                NULL|                 6|                   NULL|
|2020-11-08 00:00:00|   1137440|  2020-11-03 00:00:00|                          63|            QUINDIO|                    63001|         ARMENIA|  85|                       1|   F|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-10-31 00:00:00|2020-11-12 00:00:00| 2020-10-31 00:00:00|                 NULL|                NULL|                 6|                   NULL|
|2020-11-08 00:00:00|   1137443|  2020-11-04 00:00:00|                          11|             BOGOTA|                    11001|          BOGOTA|  78|                       1|   M|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-10-31 00:00:00|2020-11-16 00:00:00| 2020-11-07 00:00:00|                 NULL|                NULL|                 6|                   NULL|
|2020-12-24 00:00:00|   1556938|  2020-11-26 00:00:00|                          76|              VALLE|                    76001|            CALI|  93|                       1|   F|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-11-23 00:00:00|2020-12-23 00:00:00| 2020-12-23 00:00:00|                 NULL|                NULL|                 6|                   NULL|
|2020-12-24 00:00:00|   1556943|  2020-12-19 00:00:00|                          76|              VALLE|                    76001|            CALI|  63|                       1|   F|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-12-14 00:00:00|2021-01-09 00:00:00| 2020-12-22 00:00:00|                 NULL|                NULL|                 6|                   NULL|
|2020-11-08 00:00:00|   1137424|  2020-11-01 00:00:00|                          50|               META|                    50001|   VILLAVICENCIO|  82|                       1|   F|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-10-31 00:00:00|2020-11-11 00:00:00| 2020-11-06 00:00:00|                 NULL|                NULL|                 1|            Por definir|
|2020-08-05 00:00:00|    338087|  2020-08-02 00:00:00|                          76|              VALLE|                    76001|            CALI|  86|                       1|   M|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-07-30 00:00:00|2020-08-10 00:00:00| 2020-08-04 00:00:00|                 NULL|                NULL|                 6|                   NULL|
|2020-07-25 00:00:00|    239066|  2020-07-21 00:00:00|                          11|             BOGOTA|                    11001|          BOGOTA|  89|                       1|   M|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-07-19 00:00:00|2020-07-24 00:00:00| 2020-07-24 00:00:00|                 NULL|                NULL|                 6|                   NULL|
|2020-07-25 00:00:00|    239070|  2020-07-22 00:00:00|                          11|             BOGOTA|                    11001|          BOGOTA|  74|                       1|   M|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-07-19 00:00:00|2020-07-29 00:00:00| 2020-07-24 00:00:00|                 NULL|                NULL|                 6|                   NULL|
|2020-08-05 00:00:00|    338058|  2020-08-03 00:00:00|                          76|              VALLE|                    76497|          OBANDO|  70|                       1|   M|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-07-30 00:00:00|2020-08-07 00:00:00| 2020-08-04 00:00:00|                 NULL|                NULL|                 6|                   NULL|
|2020-08-05 00:00:00|    338061|  2020-08-03 00:00:00|                           5|          ANTIOQUIA|                     5001|        MEDELLIN|  71|                       1|   M|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-07-30 00:00:00|2020-08-08 00:00:00| 2020-08-04 00:00:00|                 NULL|                NULL|                 6|                   NULL|
|2020-07-25 00:00:00|    238807|  2020-07-20 00:00:00|                          11|             BOGOTA|                    11001|          BOGOTA| 100|                       1|   F|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-07-16 00:00:00|2020-07-23 00:00:00| 2020-07-23 00:00:00|                 NULL|                NULL|                 6|                   NULL|
|2021-01-13 00:00:00|   1830857|  2020-12-29 00:00:00|                          68|          SANTANDER|                    68001|     BUCARAMANGA|  53|                       1|   M|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-12-24 00:00:00|2021-01-17 00:00:00| 2021-01-09 00:00:00|                 NULL|                NULL|                 6|                   NULL|
|2020-09-23 00:00:00|    781889|  2020-09-11 00:00:00|                          76|              VALLE|                    76001|            CALI|  74|                       1|   M|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-09-07 00:00:00|2020-10-10 00:00:00| 2020-09-22 00:00:00|                 NULL|                NULL|                 6|                   NULL|
|2020-07-09 00:00:00|    133386|  2020-06-28 00:00:00|                          11|             BOGOTA|                    11001|          BOGOTA|  65|                       1|   M|     Relacionado|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-06-24 00:00:00|2020-07-03 00:00:00| 2020-07-09 00:00:00|                 NULL|                NULL|                 6|                   NULL|
|2020-09-23 00:00:00|    781864|  2020-09-11 00:00:00|                          25|       CUNDINAMARCA|                    25754|          SOACHA|  82|                       1|   M|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-09-07 00:00:00|2020-09-28 00:00:00| 2020-09-22 00:00:00|                 NULL|                NULL|                 6|                   NULL|
|2020-09-03 00:00:00|    640688|  2020-08-21 00:00:00|                          68|          SANTANDER|                    68547|     PIEDECUESTA|  64|                       1|   M|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-08-16 00:00:00|2020-09-15 00:00:00| 2020-09-01 00:00:00|                 NULL|                NULL|                 6|                   NULL|
|2020-06-25 00:00:00|     78535|  2020-06-24 00:00:00|                           5|          ANTIOQUIA|                     5001|        MEDELLIN|  94|                       1|   M|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-06-16 00:00:00|2020-06-20 00:00:00| 2020-06-25 00:00:00|                 NULL|                NULL|                 6|                   NULL|
+-------------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+---------+-------------------+---------------+----------+---------------------------+-------------------+--------------------+---------------------+--------------------+------------------+-----------------------+
only showing top 20 rows

2.8 ejecutar alguna función UDF o lambda
sobre alguna columna creando una nueva.

In [20]:
#Ejecutar alguna función lambda
#using lambda function
# UDF
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
age_udf = udf(lambda age: "Joven" if age <= 18 else "Adulto", StringType())
#apply udf on dataframe
df.withColumn("Grupo Edad", age_udf(df.Edad)).show(10,False)

+-------------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+---------+-------------------+---------------+----------+---------------------------+-------------------+--------------------+---------------------+--------------------+------------------+-----------------------+----------+
|fecha reporte web  |ID de caso|Fecha de notificación|Código DIVIPOLA departamento|Nombre departamento|Código DIVIPOLA municipio|Nombre municipio|Edad|Unidad de medida de edad|Sexo|Tipo de contagio|Ubicación del caso|Estado   |Código ISO del país|Nombre del país|Recuperado|Fecha de inicio de síntomas|Dia de defunción   |Fecha de diagnóstico|Fecha de recuperación|Tipo de recuperación|Pertenencia étnica|Nombre del grupo étnico|Grupo Edad|
+-------------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+---------+-------------------+---------------+----------+---------------------------+-------------------+--------------------+---------------------+--------------------+------------------+-----------------------+----------+
|2020-12-24 00:00:00|1556979   |2020-12-22 00:00:00  |76                          |VALLE              |76001                    |CALI            |67  |1                       |F   |Comunitaria     |Casa              |Leve     |NULL               |NULL           |Recuperado|2020-12-21 00:00:00        |NULL               |2020-12-23 00:00:00 |2021-01-04 00:00:00  |Tiempo              |6                 |NULL                   |Adulto    |
|2020-12-24 00:00:00|1556980   |2020-12-19 00:00:00  |76                          |VALLE              |76001                    |CALI            |66  |1                       |F   |Comunitaria     |Casa              |Leve     |NULL               |NULL           |Recuperado|2020-12-07 00:00:00        |NULL               |2020-12-23 00:00:00 |2020-12-25 00:00:00  |Tiempo              |6                 |NULL                   |Adulto    |
|2020-12-24 00:00:00|1556981   |2020-12-19 00:00:00  |76                          |VALLE              |76001                    |CALI            |68  |1                       |F   |Comunitaria     |Casa              |Leve     |NULL               |NULL           |Recuperado|2020-12-18 00:00:00        |NULL               |2020-12-22 00:00:00 |2021-01-01 00:00:00  |Tiempo              |6                 |NULL                   |Adulto    |
|2020-12-24 00:00:00|1556982   |2020-12-22 00:00:00  |76                          |VALLE              |76001                    |CALI            |74  |1                       |F   |Comunitaria     |Fallecido         |Fallecido|NULL               |NULL           |Fallecido |2020-12-17 00:00:00        |2020-12-30 00:00:00|2020-12-23 00:00:00 |NULL                 |NULL                |6                 |NULL                   |Adulto    |
|2020-12-24 00:00:00|1556983   |2020-12-22 00:00:00  |76                          |VALLE              |76001                    |CALI            |65  |1                       |F   |Comunitaria     |Casa              |Leve     |NULL               |NULL           |Recuperado|2020-12-21 00:00:00        |NULL               |2020-12-23 00:00:00 |2021-01-04 00:00:00  |Tiempo              |6                 |NULL                   |Adulto    |
|2020-12-24 00:00:00|1556984   |2020-12-15 00:00:00  |76                          |VALLE              |76001                    |CALI            |66  |1                       |F   |Comunitaria     |Casa              |Leve     |NULL               |NULL           |Recuperado|2020-12-09 00:00:00        |NULL               |2020-12-23 00:00:00 |2020-12-25 00:00:00  |Tiempo              |6                 |NULL                   |Adulto    |
|2020-12-24 00:00:00|1556985   |2020-12-21 00:00:00  |76                          |VALLE              |76001                    |CALI            |74  |1                       |F   |Comunitaria     |Casa              |Leve     |NULL               |NULL           |Recuperado|2020-12-14 00:00:00        |NULL               |2020-12-22 00:00:00 |2020-12-28 00:00:00  |Tiempo              |6                 |NULL                   |Adulto    |
|2020-12-24 00:00:00|1556986   |2020-12-18 00:00:00  |76                          |VALLE              |76001                    |CALI            |66  |1                       |F   |Comunitaria     |Fallecido         |Fallecido|NULL               |NULL           |Fallecido |2020-12-11 00:00:00        |2020-12-26 00:00:00|2020-12-22 00:00:00 |NULL                 |NULL                |6                 |NULL                   |Adulto    |
|2020-12-24 00:00:00|1556987   |2020-12-18 00:00:00  |76                          |VALLE              |76001                    |CALI            |64  |1                       |F   |Comunitaria     |Casa              |Leve     |NULL               |NULL           |Recuperado|2020-12-15 00:00:00        |NULL               |2020-12-23 00:00:00 |2020-12-30 00:00:00  |Tiempo              |6                 |NULL                   |Adulto    |
|2020-12-24 00:00:00|1556988   |2020-12-17 00:00:00  |76                          |VALLE              |76001                    |CALI            |65  |1                       |F   |Comunitaria     |Casa              |Leve     |NULL               |NULL           |Recuperado|2020-12-08 00:00:00        |NULL               |2020-12-22 00:00:00 |2020-12-25 00:00:00  |Tiempo              |6                 |NULL                   |Adulto    |
+-------------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+---------+-------------------+---------------+----------+---------------------------+-------------------+--------------------+---------------------+--------------------+------------------+-----------------------+----------+
only showing top 10 rows

# 3. Contestar las siguientes preguntas de negocio sobre los datos de covid:

3.1 Los 10 departamentos con más casos de covid en Colombia ordenados de mayor a menor

In [7]:
from pyspark.sql.functions import col

# Agrupar por 'Nombre departamento' y contar los casos
departamentos_df = df.groupBy("Nombre departamento").count()

# Renombrar la columna para claridad
departamentos_df = departamentos_df.withColumnRenamed("count", "total_casos")

# Ordenar los departamentos por casos en orden descendente y seleccionar los 10 primeros
top_departamentos_df = departamentos_df.orderBy(col("total_casos").desc()).limit(10)

# Mostrar el resultado
top_departamentos_df.show()

+-------------------+-----------+
|Nombre departamento|total_casos|
+-------------------+-----------+
|             BOGOTA|    1888137|
|          ANTIOQUIA|     955271|
|              VALLE|     572724|
|       CUNDINAMARCA|     331331|
|          SANTANDER|     297370|
|       BARRANQUILLA|     277989|
|          CARTAGENA|     163526|
|          ATLANTICO|     141072|
|             BOYACA|     131133|
|             TOLIMA|     127764|
+-------------------+-----------+

**SparkSQL**

In [22]:
# Crear una vista temporal para usar SQL
df.createOrReplaceTempView("covid")

# Consulta SQL para obtener los 10 departamentos con más casos
top_departamentos_sql = spark.sql("""
    SELECT `Nombre departamento`, COUNT(*) as total_casos
    FROM covid
    GROUP BY `Nombre departamento`
    ORDER BY total_casos DESC
    LIMIT 10
""")

# Mostrar el resultado
top_departamentos_sql.show()

+-------------------+-----------+
|Nombre departamento|total_casos|
+-------------------+-----------+
|             BOGOTA|    1888137|
|          ANTIOQUIA|     955271|
|              VALLE|     572724|
|       CUNDINAMARCA|     331331|
|          SANTANDER|     297370|
|       BARRANQUILLA|     277989|
|          CARTAGENA|     163526|
|          ATLANTICO|     141072|
|             BOYACA|     131133|
|             TOLIMA|     127764|
+-------------------+-----------+

3.2 Las 10 ciudades con más casos de covid en Colombia ordenados de mayor a menor

In [8]:
# Agrupar por 'Nombre municipio' y contar los casos
ciudades_df = df.groupBy("Nombre municipio").count()

# Renombrar la columna para claridad
ciudades_df = ciudades_df.withColumnRenamed("count", "total_casos")

# Ordenar las ciudades por casos en orden descendente y seleccionar los 10 primeros
top_ciudades_df = ciudades_df.orderBy(col("total_casos").desc()).limit(10)

# Mostrar el resultado
top_ciudades_df.show()

+----------------+-----------+
|Nombre municipio|total_casos|
+----------------+-----------+
|          BOGOTA|    1888137|
|        MEDELLIN|     550790|
|            CALI|     406751|
|    BARRANQUILLA|     277989|
|       CARTAGENA|     163526|
|     BUCARAMANGA|     142842|
|          IBAGUE|      91598|
|     SANTA MARTA|      84863|
|       MANIZALES|      84478|
|          CUCUTA|      77359|
+----------------+-----------+

SparkSQL

In [24]:
# Consulta SQL para obtener las 10 ciudades con más casos
top_ciudades_sql = spark.sql("""
    SELECT `Nombre municipio`, COUNT(*) as total_casos
    FROM covid
    GROUP BY `Nombre municipio`
    ORDER BY total_casos DESC
    LIMIT 10
""")

# Mostrar el resultado
top_ciudades_sql.show()

+----------------+-----------+
|Nombre municipio|total_casos|
+----------------+-----------+
|          BOGOTA|    1888137|
|        MEDELLIN|     550790|
|            CALI|     406751|
|    BARRANQUILLA|     277989|
|       CARTAGENA|     163526|
|     BUCARAMANGA|     142842|
|          IBAGUE|      91598|
|     SANTA MARTA|      84863|
|       MANIZALES|      84478|
|          CUCUTA|      77359|
+----------------+-----------+

**3.3** Los 10 días con más casos de covid en Colombia ordenados de mayor a menor

In [9]:
# Agrupar por 'fecha reporte web' y contar los casos
dias_df = df.groupBy("fecha reporte web").count()

# Renombrar la columna para claridad
dias_df = dias_df.withColumnRenamed("count", "total_casos")

# Ordenar los días por casos en orden descendente y seleccionar los 10 primeros
top_dias_df = dias_df.orderBy(col("total_casos").desc()).limit(10)

# Mostrar el resultado
top_dias_df.show()

+-------------------+-----------+
|  fecha reporte web|total_casos|
+-------------------+-----------+
|2022-01-15 00:00:00|      35576|
|2022-01-14 00:00:00|      34924|
|2021-06-26 00:00:00|      33593|
|2021-06-24 00:00:00|      32997|
|2021-06-25 00:00:00|      32732|
|2021-06-27 00:00:00|      32377|
|2022-01-16 00:00:00|      32318|
|2022-01-08 00:00:00|      31170|
|2022-01-21 00:00:00|      31039|
|2022-01-09 00:00:00|      30630|
+-------------------+-----------+

SparkSQL

In [26]:
# Consulta SQL para obtener los 10 días con más casos
top_dias_sql = spark.sql("""
    SELECT `fecha reporte web`, COUNT(*) as total_casos
    FROM covid
    GROUP BY `fecha reporte web`
    ORDER BY total_casos DESC
    LIMIT 10
""")

# Mostrar el resultado
top_dias_sql.show()

+-------------------+-----------+
|  fecha reporte web|total_casos|
+-------------------+-----------+
|2022-01-15 00:00:00|      35576|
|2022-01-14 00:00:00|      34924|
|2021-06-26 00:00:00|      33593|
|2021-06-24 00:00:00|      32997|
|2021-06-25 00:00:00|      32732|
|2021-06-27 00:00:00|      32377|
|2022-01-16 00:00:00|      32318|
|2022-01-08 00:00:00|      31170|
|2022-01-21 00:00:00|      31039|
|2022-01-09 00:00:00|      30630|
+-------------------+-----------+

3.4 Distribución de casos por edades de covid en Colombia

In [10]:
# Agrupar por 'Edad' y contar los casos
edades_df = df.groupBy("Edad").count()

# Renombrar la columna para claridad
edades_df = edades_df.withColumnRenamed("count", "total_casos")

# Mostrar la distribución de casos por edades
edades_df.show()

+----+-----------+
|Edad|total_casos|
+----+-----------+
|  31|     149885|
|  85|      13303|
|  65|      52856|
|  53|      88702|
|  78|      21996|
| 108|         10|
|  34|     138847|
| 101|        284|
|  81|      18615|
|  28|     151306|
|  76|      24920|
|  27|     149393|
|  26|     148680|
|  44|     105934|
| 103|        128|
|  12|      34208|
|  91|       5931|
|  22|     115027|
|  93|       3964|
|  47|      94180|
+----+-----------+
only showing top 20 rows

SparkSQL

In [28]:
# Consulta SQL para obtener la distribución de casos por edades
distribucion_edades_sql = spark.sql("""
    SELECT Edad, COUNT(*) as total_casos
    FROM covid
    GROUP BY Edad
    ORDER BY Edad
""")

# Mostrar el resultado
distribucion_edades_sql.show()

+----+-----------+
|Edad|total_casos|
+----+-----------+
|   1|      33429|
|   2|      26207|
|   3|      24223|
|   4|      23905|
|   5|      24768|
|   6|      26380|
|   7|      26067|
|   8|      28717|
|   9|      30256|
|  10|      31768|
|  11|      34814|
|  12|      34208|
|  13|      36646|
|  14|      39774|
|  15|      43189|
|  16|      46546|
|  17|      52437|
|  18|      64310|
|  19|      80783|
|  20|      93686|
+----+-----------+
only showing top 20 rows

3.5 Pregunta de negocio: ¿Cuál es el municipio con el mayor número de casos confirmados de COVID-19?

In [16]:


# Contar el total de casos por municipio
total_casos_municipio_df = df.groupBy("Nombre municipio").count().withColumnRenamed("count", "total_casos")

# Ordenar los municipios por el número total de casos en orden descendente y seleccionar el primero
municipio_max_casos_df = total_casos_municipio_df.orderBy(col("total_casos").desc()).limit(1)

# Mostrar el resultado
municipio_max_casos_df.show()

+----------------+-----------+
|Nombre municipio|total_casos|
+----------------+-----------+
|          BOGOTA|    1888137|
+----------------+-----------+

SparkSQL

In [30]:
# Crear una vista temporal para usar SQL
df.createOrReplaceTempView("covid")

# Consulta SQL para obtener el municipio con el mayor número de casos confirmados
municipio_max_casos_sql = spark.sql("""
    SELECT `Nombre municipio`, COUNT(*) as total_casos
    FROM covid
    GROUP BY `Nombre municipio`
    ORDER BY total_casos DESC
    LIMIT 1
""")

# Mostrar el resultado
municipio_max_casos_sql.show()

+----------------+-----------+
|Nombre municipio|total_casos|
+----------------+-----------+
|          BOGOTA|    1888137|
+----------------+-----------+

# 4. Salve los datos del numeral 3, en el bucket público de cada estudiante

In [4]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("data_processing") \
    .master("local[*]") \
    .config("spark.driver.memory", "16G") \
    .config("spark.driver.maxResultSize", "0") \
    .config("spark.kryoserializer.buffer.max", "2000M") \
    .config("spark.jars.packages", "com.amazonaws:aws-java-sdk:1.11.1034,org.apache.hadoop:hadoop-aws:3.3.4") \
    .config("fs.s3a.access.key", "ASIA6ODU4LF4PG56SBRH") \
    .config("fs.s3a.secret.key", "Us8Z+AerEqKMTsXt/EWvYMUkUNa63wz++/eTeYMU") \
    .config("fs.s3a.session.token", "IQoJb3JpZ2luX2VjENn//////////wEaCXVzLXdlc3QtMiJHMEUCICGER/dkDKqX1m99G4sK4yvZWYdEYRjOY1ocSZTHe/PfAiEAqJ0NFhu4pGFLjCNxG+qtPBuUbsZNemFWkZM5894tVRUqsAIIYhAAGgw5OTIzODI1NzI5MjAiDBd0QiDKdUhAW8DodSqNAsRnnT2LIyxRQEv9tIRoQHN0XvSXnKz2zKgzSfvbfRmdCLGryhEKn6nppRoJb5jEf8bNxg9oMPhX0UMvdS+kSz7rwaxTTTvyMg5HMslbq/SaKFe5BxkXtzwc+nY1DRX2DzaBHcd7Up0G1lehVNgSF7VPBYFbSHNqN/8BYeUymU2oro5W/iRAHRvXlFr4MGSZ0BRYdTq1qfz4fY1AQ4e/UcxOcjLUVdvQDDxx8vmg/ZO6yp18x/5nZugL9mjn2v0aWaWERBwT7ibjfwL0ooGIfctg2cn13YvfDEtXIQc1QQXKKJBi3D99UWWTirPC3LyvBpne/i7urRoOBwMM58pLHeX9IpmmWmAatYLXCFS1MNCZ7bIGOp0BY19TTHs/zdiZjaYU8p9ILgXXvwnzBHKddUN4xbWGKk2lxFszIMNjDz4oGWMfF/KDQY/qdjXJl0iOhfHvq6OnTRTsRNzeVTQEJjAt/nksRgbDygcXDdVmwjx95D+IoePSCpLr3BDnnOqUuZwsUpW88CjzZrMQAW4oATtVZvnTTMKelwGlF7ACgYKoSb8o0YnPtg7Nyz9JXczda5MQXQ==") \
    .config("fs.s3a.path.style.access", "true") \
    .config("fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .config("fs.s3a.endpoint", "s3.amazonaws.com") \
    .getOrCreate()

sc = spark.sparkContext

In [5]:
# desde S3
df=spark.read.csv('s3a://alrojaspcovid/Casos_positivos_de_COVID-19_en_Colombia..csv',inferSchema=True,header=True)


 4.1 Los 10 departamentos con más casos de covid en Colombia ordenados de mayor a menor.

In [11]:
top_departamentos_df.write.format('csv').mode('overwrite').option('header', 'true').save('s3a://alrojaspcovid/top_10_casos_por_departamento.csv')

4.2 Las 10 ciudades con más casos de covid en Colombia ordenados de mayor a menor.

In [12]:
top_ciudades_df.write.format('csv').mode('overwrite').option('header', 'true').save('s3a://alrojaspcovid/top_10_casos_por_ciudad.csv')

4.3 Los 10 días con más casos de covid en Colombia ordenados de mayor a menor.

In [13]:
top_dias_df.write.format('csv').mode('overwrite').option('header', 'true').save('s3a://alrojaspcovid/top_10_casos_por_dia.csv')

4.4 Distribución de casos por edades de covid en Colombia.

In [14]:
edades_df.write.format('csv').mode('overwrite').option('header', 'true').save('s3a://alrojaspcovid/distribucion_casos_por_edades.csv')

4.5 ¿Cuál es el municipio con el mayor número de casos confirmados de COVID-19?

In [17]:
# Guardar el resultado en CSV
municipio_max_casos_df.write.format('csv').mode('overwrite').option('header', 'true').save('s3a://alrojaspcovid/municipio_mayor_casos_confirmados.csv')